Repository SP-Packages/printer, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, tests, documentation, bash, js, ts, yaml, json, dependencies, configuration

.github/labeler.yml:

# Label for changes in devops files
devops:
  - changed-files:
      - any-glob-to-any-file: ".github/**"
      - any-glob-to-any-file: ".husky/**"
      - any-glob-to-any-file: "Makefile"

# Label for changes in tests files
tests:
  - changed-files:
      - any-glob-to-any-file: "**/*.test.js"
      - any-glob-to-any-file: "**/*.test.ts"
      - any-glob-to-any-file: "**/*.spec.js"
      - any-glob-to-any-file: "**/*.spec.ts"

# Label for changes in documentation
documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

# Label for changes in Bash files
bash:
  - changed-files:
      - any-glob-to-any-file: "**/*.sh"

# Label for changes in JS files
js:
  - changed-files:
      - any-glob-to-any-file: "**/*.js"

# Label for changes in TS files
ts:
  - changed-files:
      - any-glob-to-any-file: "**/*.ts"

# Label for changes in YAML files
yaml:
  - changed-files:
      - any-glob-to-any-file: "**/*.yml"
      - any-glob-to-any-file: "**/*.yaml"

# Label for changes in JSON files
json:
  - changed-files:
      - any-glob-to-any-file: "**/*.json"

# Label for changes in dependency files
dependencies:
  - changed-files:
      - any-glob-to-any-file: "composer.json"
      - any-glob-to-any-file: "composer.lock"
      - any-glob-to-any-file: "package-lock.json"
      - any-glob-to-any-file: "package.json"

# Label for changes in configuration files
configuration:
  - changed-files:
      - any-glob-to-any-file: ".depkit.json"
      - any-glob-to-any-file: ".editorconfig"
      - any-glob-to-any-file: ".gitignore"
      - any-glob-to-any-file: ".lintrc.json"
      - any-glob-to-any-file: ".markdownlint.json"
      - any-glob-to-any-file: ".prettierignore"
      - any-glob-to-any-file: "codecov.yml"
      - any-glob-to-any-file: "commitlint.config.js"
      - any-glob-to-any-file: "cspell.json"
      - any-glob-to-any-file: "eslint.config.js"
      - any-glob-to-any-file: "prettierrc.json"
      - any-glob-to-any-file: "release.config.js"
      - any-glob-to-any-file: "tsconfig.json"
      - any-glob-to-any-file: "vitest.config.ts"

chore(release): v2.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation, json, dependencies

Notes added by 'git notes add'
  612fcfb6426c7a58ca26658d49833530207a79d2
Labels: none

chore(dependabot): update dependabot configurations
  .github/dependabot.yml
Labels: devops, yaml

chore(dependencies): update dependencies
  depkit.json
  package-lock.json
Labels: json, dependencies

feat(printer): add spinner handling to log methods
  src/core/printer.ts
Labels: ts

chore(release): v2.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation, json, dependencies

Notes added by 'git notes add'
  df94de741302999b310c1fc3d1cb3da61982f85c
Labels: none

chore(dependabot): update dependabot configurations
  .github/dependabot.yml
Labels: devops, yaml

feat(printer): add spinner handling to log methods
  src/core/printer.ts
Labels: ts

chore(dependencies): update dependencies
  depkit.json
  package-lock.json
Labels: json, dependencies

chore(release): v2.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation, json, dependencies

chore(labeler): remove redundant issues permission declaration
  .github/workflows/labeler.yml
Labels: devops, yaml

fix(workflows): update action versions in labeler, prepare, and release
  .github/workflows/labeler.yml
  .github/workflows/prepare.yml
  .github/workflows/release.yml
  package-lock.json
Labels: devops, yaml, json, dependencies

chore(release): v2.10.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation, json, dependencies

Notes added by 'git notes add'
  4c4b63fce65e023023d1db866979b825764c6b78
Labels: none

fix(workflows): update action versions in labeler, prepare, and release
  .github/workflows/labeler.yml
  .github/workflows/prepare.yml
  .github/workflows/release.yml
Labels: devops, yaml

fix(dependencies): update dependencies
  package-lock.json
  package.json
Labels: json, dependencies
